<div class="container mt-5 text-center" >
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <%= month_calendar(events: @consultations) do |date, consultations|%>
        <div class="day">
            <%= date.day%>
        </div>
        <%consultations.each do |consultation|%>
            <div class="card-header">
                <div class="card-title">
                    <%= link_to consultation.title, consultation %>
                </div>
            </div>
            <div class="card-footer">
                <p class="card-text">
                    From: <%= consultation.start_time.strftime('%I:%M %p')%>
                    <br/>
                    To: <%= consultation.end_time.strftime('%I:%M %p')%>
            </div>
        <%end%>
    <% end %>
</div>